*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #808080a1;
}

header h1{
    font-size: 40px;
    text-align: center;
    color: #333333;
    padding: 20px;
}

.main{
    display: grid;
    grid-template-rows: 200px 350px;
    grid-gap: 20px;
    padding: 20px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 h3{
    color: #333333;
    padding-bottom: 20px;
}

form{
    width: 50%;
}

form .form-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.form-group input{
    width: 100%;
    border: 1px solid #333333;
    border-radius: 3px;
    color: #333333;
    height: 25px;
    padding-left: 10px;
    background-color: #ffffff54;
    font-size: 15px;
}

input::-webkit-input-placeholder{
    color: #333333;
}
.entrada{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    width: 100px;
    height: 30px;
    background-color: #ffffff54;
    border: none;
}


.pizarra{
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px;
}

.tarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 15px;
}

.tarea .title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.tarea .delete{
    background-color: #0a0a0a24;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 6px;
}

